.loading-indicator {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  color: black;
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.loader::after {
  content: '';
  width: 5px;
  height: 5px;
  background: currentColor;
  position: absolute;
  top: 14px;
  right: -7px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 10px 0 black, 20px 0 rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 10px 0 black, 20px 0 black;
  }
}
