.delete-pet-modal-list-item {
  padding: 7px;
  font-size: 1.1rem;
  font-weight: 600;
}

.indicator-placeholder .loading-indicator {
  margin-top: 20px;
  margin-bottom: 20px;
}

.delete-pet-modal {
  width: calc(90vw - 40px);
}

@media screen and (min-width: 650px) {
  .delete-pet-modal {
    width: 570px;
  }
}
